<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^sign-in\.html$ sign_in.php [L]
# RewriteRule ^sign-out$ sign_out.php [L]
RewriteRule ^home$ media.php?page=home [L]

Options All -Indexes
</IfModule>