<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^sign-in\.html$ sign_in.php [L]
RewriteRule ^verifikasi\.html$ cek_signin.php?page=cek-signin [L]
RewriteRule ^sign-out\.html$ sign_out.php?page=sign-out [L]

Options All -Indexes
</IfModule>