<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^login$ login.php [L]
RewriteRule ^forgot$ forgot-password.php [L]
RewriteRule ^dashboard$ media.php?page=dashboard [L]
RewriteRule ^identitas$ media.php?page=identitas [L]
RewriteRule ^cara-pendaftaran$ media.php?page=cara-pendaftaran [L]
RewriteRule ^informasi-psb$ media.php?page=informasi-psb [L]
RewriteRule ^psb$ media.php?page=psb [L]
RewriteRule ^detail-psb$ media.php?page=detail-psb [L]
RewriteRule ^nilai$ media.php?page=nilai [L]
RewriteRule ^kk$ media.php?page=kk [L]
RewriteRule ^ijazah$ media.php?page=ijazah [l]
RewriteRule ^foto$ media.php?page=foto [l]
RewriteRule ^usm$ media.php?page=usm [L]
RewriteRule ^usman$ media.php?page=usman [L]
RewriteRule ^user-add$ media.php?page=user-add [L]
RewriteRule ^change-pass$ media.php?page=change-pass [L]

RewriteRule ^backupdb$ media.php?page=backupdb [L]

Options All -Indexes
</IfModule>